<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akon.springboot.mybatis.model.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.akon.springboot.mybatis.entity.UserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_score" jdbcType="BIGINT" property="userScore" />
    <result column="user_slary" jdbcType="DOUBLE" property="userSlary" />
    <result column="user_sex" jdbcType="CHAR" property="userSex" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_age, user_score, user_slary, user_sex
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId}
    <if test="userName!=null">
      and user_name=#{userName}
    </if>
  </select>
  <insert id="insert" parameterType="com.akon.springboot.mybatis.entity.UserInfo">
    insert into user_info (user_id, user_name, user_age, 
      user_score, user_slary, user_sex
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userAge,jdbcType=INTEGER}, 
      #{userScore,jdbcType=BIGINT}, #{userSlary,jdbcType=DOUBLE}, #{userSex,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.akon.springboot.mybatis.entity.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userAge != null">
        user_age,
      </if>
      <if test="userScore != null">
        user_score,
      </if>
      <if test="userSlary != null">
        user_slary,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userScore != null">
        #{userScore,jdbcType=BIGINT},
      </if>
      <if test="userSlary != null">
        #{userSlary,jdbcType=DOUBLE},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="getUser" resultMap="BaseResultMap">
    select * from user_info limit 0,100
  </select>

  <insert id="insertBatch"  parameterType="com.akon.springboot.mybatis.entity.UserInfo">
     insert into user_info ( user_name, user_age,
      user_score, user_slary, user_sex
      )
    values
    <foreach collection="list" item="item"  separator=",">
      (#{item.userName,jdbcType=VARCHAR}, #{item.userAge,jdbcType=INTEGER},
      #{item.userScore,jdbcType=BIGINT}, #{item.userSlary,jdbcType=DOUBLE}, #{item.userSex,jdbcType=CHAR})
    </foreach>
  </insert>

</mapper>